<!--<h1>Welcome to EtsyDemo!</h1>
<h2>EtsyDemo is an online marketplace for buying and selling handmade goods.</h2>-->
<div class="download">



  <div class = "center" >

    <img src="/assets/image1.jpeg" alt="background" style="width:304px;height:228px;">
    <img src="/assets/image2.jpeg" alt="background" style="width:304px;height:228px;">
    <img src="/assets/image3.jpeg" alt="background" style="width:304px;height:228px;">
  </div>
  <h1> EtsyDemo is an online marketplace <br>
    for buying and selling handmade goods <br>
    around the world.</h1>
  <p>
    The heart and soul of Etsy is our global community:<br>
    the creative entrepreneurs who use Etsy to sell what they make or curate,<br>
    the shoppers looking for things they can’t find anywhere else,<br>
    the manufacturers who partner with Etsy sellers to help them grow,<br>
    and the Etsy employees who maintain and nurture our marketplace.</p>
</div>


